<h1 align="center">Welcome to Note Application</h1>
<p-table
    #filter
    sortMode="multiple"
    [globalFilterFields]="['text']"
    [value]="NotesData"
    [paginator]="true"
    [rows]="10"
    responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-left p-ml-auto">
        <input pInputText type="text" (input)="filter.filterGlobal($event.target?.value, 'contains')"
               placeholder="Search Text"/>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="text">Text Content
        <p-sortIcon field="text"></p-sortIcon>
      </th>
      <th pSortableColumn="date">Creation Date
        <p-sortIcon field="date"></p-sortIcon>
      </th>
      <th>Permission to Edit</th>
      <th>Operations</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-note>
    <tr>
      <td>{{note.text}}</td>
      <td>{{note.date}}</td>
      <td>{{note.permission}}</td>
      <td>
        <button pButton class="p-button-success" (click)="editNote(note.text)">Edit</button>&nbsp;
        <button pButton class="p-button-help" (click)="deleteNote(note.text)">Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>
<br><br>
<button pButton class="p-button-warning" (click)="addNewNote()">Add New Note</button>


<app-modal
  [displayModal]="displayModal"
  (save)="save($event)"
  (cancel)="closeModal()"
>
</app-modal>
&nbsp;

