<p-table
  [value]="NotesData"
  [paginator]="true"
  [rows]="10"
  responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Text Content</th>
      <th>Creation Date</th>
      <th>Permission to Edit</th>
      <th>Operations</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-note>
    <tr>
      <td>{{note.text}}</td>
      <td>{{note.date}}</td>
      <td>{{note.permission}}</td>
      <td>
        <button pButton class="p-button-success" (click)="editNote(note.text)">Edit</button>&nbsp;
        <button pButton class="p-button-help" (click)="deleteNote(note.text)">Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>
<br><br>
<button pButton class="p-button-warning" (click)="addNewNote()">Add New Note</button>


<app-modal
  [displayModal]="displayModal"
  (save)="save($event)"
  (cancel)="closeModal()"
>
</app-modal>
&nbsp;

